<header class="modal-header-material">
    <h1 mat-dialog-title>{{ getTitle()}}
    </h1>
    <p><mat-label>TerrenoId: </mat-label>{{terrenoId}}</p>
</header>
<form [formGroup]="formGroup" class="form-container">

    <div class="fields">      

        <div class="form-group form-column">

            <mat-form-field class="col">
                <mat-select placeholder="Predio" formControlName="predio">   
                    <mat-option [value]="null">--</mat-option>                
                    <mat-option *ngFor="let predio of prediosOfTerreno"
                        [value]="predio.id">
                        {{predio.id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            
            <mat-form-field class="col">
                <mat-label>Identificador</mat-label>
                <input formControlName="identificador" id="identificador" matInput required>
                <mat-error *ngIf="formGroup.controls.identificador.errors?.required">Campo requerido
                </mat-error>
                <mat-error *ngIf="formGroup.controls.identificador.errors?.maxlength">Máximo 2 caracteres
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col">
                <mat-select placeholder="Construcción tipo" formControlName="construccionTipo">
                    <mat-option [value]="null">--</mat-option>
                    <mat-option *ngFor="let construccionTipo of construccionTipos"
                        [value]="construccionTipo.descripcion">
                        {{construccionTipo.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>           

            
        </div><!--Fin Column-->
        
        <div class="form-group form-column">

            <mat-form-field class="col">
                <mat-select placeholder="Dominio Construcción tipo" formControlName="dominioConstruccionTipo">
                    <mat-option [value]="null">--</mat-option>
                    <mat-option *ngFor="let dominioConstruccionTipo of dominioConstruccionTipos"
                        [value]="dominioConstruccionTipo.descripcion">
                        {{dominioConstruccionTipo.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            

            <mat-form-field class="col">
                <mat-label>Número de sotanos</mat-label>
                <input formControlName="numeroSotanos" id="numeroSotanos" matInput>               
            </mat-form-field>

            <mat-form-field class="col">
                <mat-label>Año de construcción</mat-label>
                <input formControlName="anioConstruccion" id="anioConstruccion" matInput>
                <mat-error *ngIf="formGroup.controls.anioConstruccion.errors?.required">Campo requerido
                </mat-error>
            </mat-form-field>

            <!--
        <mat-form-field>
            <mat-label>Año de construcción</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input formControlName="anioConstruccionStartDate" matStartDate placeholder="Start date">
                <input formControlName="anioConstruccionEndDate" matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        -->

           

        </div>
        <div class="form-group form-column">

            <mat-form-field class="col">
                <mat-label>Area de construcción</mat-label>
                <input formControlName="areaConstruccion" id="areaConstruccion" matInput required>
                <mat-error *ngIf="formGroup.controls.areaConstruccion.errors?.required">Campo requerido
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col">
                <mat-label>Número de pisos</mat-label>
                <input formControlName="numeroPisos" id="numeroPisos" matInput required>
                <mat-error *ngIf="formGroup.controls.numeroPisos.errors?.required">Campo requerido
                </mat-error>
            </mat-form-field>


            <mat-form-field class="col">
                <mat-select placeholder="Dimensión tipo" formControlName="dimensionTipo">
                    <mat-option [value]="null">--</mat-option>
                    <mat-option *ngFor="let dimensionTipo of dimensionTipos" [value]="dimensionTipo.descripcion">
                        {{dimensionTipo.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>            
        </div>

        <div class="form-group form-column">

            <mat-form-field class="col ">
                <mat-select placeholder="Relación superficie tipo" formControlName="relacionSuperficieTipo">
                    <mat-option [value]="null">--</mat-option>
                    <mat-option *ngFor="let relacionSuperficieTipo of relacionSuperficieTipos "
                        [value]="relacionSuperficieTipo.descripcion">
                        {{relacionSuperficieTipo.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field class="col">
                <mat-label>Observaciones</mat-label>
                <textarea matInput formControlName="observaciones" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2" cdkAutosizeMaxRows="10">
            </textarea>
            </mat-form-field>
        </div>
        
        <!--Fin Column-->

    </div><!--Fin Fields-->    

    <div class="buttons">
        <button mat-raised-button (click)="closeModal()" class="" id="cancel" type="button"
            matTooltip="Volver sin guardar">Cancelar
        </button>
        <button mat-raised-button (click)="saveOrUpdate()" color="primary" class="" id="add"
            [disabled]="formGroup.invalid" matTooltip="Guardar terreno">Guardar</button>
    </div>

</form>