<div class="container">
  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav class="inner-sidenav" #sidenavL mode="side" [opened]="isShowingL">
      <div class="side-content">
        <div *ngIf="dataShowing">        

        </div>
        <app-info *ngIf="infoShowing"></app-info>
        <app-capas *ngIf="layersShowing" [capas]="capasList"></app-capas>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div id="side-buttons">       

        <button mat-mini-fab (click)="infoShow()" color="primary" aria-label="Example icon button with a bookmark icon">
          <mat-icon>info</mat-icon>
        </button>
        <button mat-mini-fab (click)="superMap.addDraw(); showMultiPolygonsList();" color="primary"
          aria-label="Dubujar un polígono">
          <mat-icon>draw</mat-icon>
        </button>
        <button mat-mini-fab (click)="showLayers()" color="primary" aria-label="Diferenciar capas">
          <mat-icon>layers</mat-icon>
        </button>
      </div>

      <div class="content">

        <app-map (changedEmit)="mapChanged()" (editedEmitter)="updatePolygonValue($event)"></app-map>

        <div id="right-buttons" class="button-list">
          <div class="start"> </div>

          <div class="end">
            <button mat-mini-fab color="primary">
              <mat-icon [matBadge]="numFiltros" matBadgeColor="accent" class="material-icons" (click)="showFilters()"
                matTooltip="Filtrar terenos.">filter_alt
              </mat-icon>
            </button>
          </div>
        </div>

        <div class="paginator">
          <mat-paginator [length]="totalElements" [pageSizeOptions]="elementsPage" showFirstLastButtons>
          </mat-paginator>
        </div>
        <div class="table-container">

          <mat-spinner *ngIf="showSpinner" [diameter]="100" class="table-spinner"></mat-spinner>

          <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="areaTerreno">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Área</th>
              <td mat-cell *matCellDef="let element"> {{element.areaTerreno}} </td>
            </ng-container>

            <ng-container matColumnDef="dimensionTipo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Dimension</th>
              <td mat-cell *matCellDef="let element"> {{element.dimensionTipo?.descripcion}} </td>
            </ng-container>

            <ng-container matColumnDef="relacionSuperficieTipo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Relacion superficie</th>
              <td mat-cell *matCellDef="let element"> {{element.relacionSuperficieTipo?.descripcion}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaCarga">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de carga</th>
              <td mat-cell *matCellDef="let element"> {{element.fechaCarga | date: 'd-M-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaUltimaModificacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha última modificación</th>
              <td mat-cell *matCellDef="let element"> {{element.fechaUltimaModificacion | date: 'd-M-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="autorUltimaModificacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Autor última modificación</th>
              <td mat-cell *matCellDef="let element"> {{element.autorUltimaModificacion}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <th *matHeaderCellDef mat-header-cell></th>
              <td *matCellDef="let terreno; let i = index" [id]="'actions'+ (i + 1)" mat-cell>
                <button mat-mini-fab color="primary" (click)="superMap.searchInMap(terreno, 'terreno')"
                  matTooltip="SItuar en el mapa">
                  <mat-icon>location_searching</mat-icon>
                </button>
                <button mat-mini-fab color="primary" (click)="openAddEditTerreno(terreno)" matTooltip="Editar">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn" (click)="deleteTerreno(terreno.id)" matTooltip="Eliminar">
                  <mat-icon>delete</mat-icon>
                </button>

                <button mat-mini-fab color="primary" class="goto" matTooltip="Ir a los elementos relacionados"
                  [matMenuTriggerFor]="menu">
                  <mat-icon>input</mat-icon>
                </button>
                <mat-menu #menu="matMenu">



                  <button *ngIf="comeFrom" mat-menu-item routerLink="{{terreno.id}}/construccion"
                    class="mat-bread-crumb-list-chip">Construcciones</button>

                  <button *ngIf="!comeFrom" mat-menu-item routerLink="/dashboard/terreno/{{terreno.id}}/construccion"
                    class="mat-bread-crumb-list-chip">Construcciones</button>

                  <button mat-menu-item routerLink="/dashboard/terreno/{{terreno.id}}/predio"
                    class="mat-bread-crumb-list-chip">Predios</button>
                </mat-menu>

              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="setHighLight(row.id)"
              *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

      </div>
    </mat-sidenav-content>

    <mat-sidenav #sidenavR mode="side" position="end" [opened]="isShowingR">

      <app-terreno-filter *ngIf="filtersForm" [filtrosTerreno]="filtrosTerreno" id="filtros"
        (filtrarEvent)="filtrarEvent($event)" (limpiarFiltrosEvent)="limpiarFiltrosEvent()">
      </app-terreno-filter>

    </mat-sidenav>
  </mat-sidenav-container>
</div>