<h2 mat-dialog-title>Código de colores</h2>
<mat-dialog-content class="mat-typography">
  <p class="verde info-titulo" >Verde:</p>
  <p>El color verde en los terrenos significa que está completo.</p>
    <br>
    <p class="rojo info-titulo" >Rojo:</p>
  <p>El color rojo en los terrenos significa que o está vinculado con ningún predio.</p>
    <br>
    <p class="negro info-titulo" >Negro:</p>
  <p>El color negro en los terrenos dignifica que le faltan datos.</p>


  
</mat-dialog-content>
<mat-dialog-actions align="end">  
  <button mat-raised-button mat-dialog-close color="primary">OK</button>
</mat-dialog-actions>

