
.mat-table{
    width: 100%;
}
.container{
    width:100%;
}
.buttons{
    display: block;
    height: 0px;
    button{
        margin-left: 5px;
    }
}
.paginator{
    display: flex;
    justify-content: center;
}

.table-container{
    position: relative;
    height: 600px;
}
.table-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}