<div class="filtros">

  <form [formGroup]="formGroup">

    <h3 class="primary title">Filtrar terrenos:</h3>

    <section class="form-group row">

      <mat-form-field class="campo full-width">
        <mat-label>Id</mat-label>
        <input formControlName="id" id="id" matInput>
      </mat-form-field>

      <mat-form-field class="campo full-width">
        <mat-label>Área de terreno</mat-label>
        <input cdkFocusInitial formControlName="areaTerreno" name="areaTerreno" id="areaTerreno" matInput type="number"
          min="0">
        <mat-error *ngIf="formGroup.controls.areaTerreno.errors?.min">
          El valor debe ser mayor que 0
        </mat-error>

      </mat-form-field>



      <mat-form-field class="campo full-width">
        <mat-label>Local id</mat-label>
        <input formControlName="localId" id="localId" matInput>
        <mat-error *ngIf="formGroup.controls.localId.errors?.required">Local id
        </mat-error>
      </mat-form-field>


      <mat-form-field class="campo full-width">
        <mat-select placeholder="Dimensión tipo" formControlName="dimensionTipo">
          <mat-option [value]="null">--</mat-option>
          <mat-option *ngFor="let dimensionTipo of dimensionTipos" [value]="dimensionTipo">
            {{dimensionTipo.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="campo full-width ">
        <mat-select placeholder="Relación superficie tipo" formControlName="relacionSuperficieTipo">
          <mat-option [value]="null">--</mat-option>
          <mat-option *ngFor="let relacionSuperficieTipo of relacionSuperficieTipos " [value]="relacionSuperficieTipo">
            {{relacionSuperficieTipo.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>      

      <mat-form-field class="campo full-width">
        <mat-label>Autor modificación</mat-label>
        <input formControlName="autorUltimaModificacion" id="autorUltimaModificacion" matInput>
    </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha de carga</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input formControlName="fechaCargaStartDate" matStartDate placeholder="Start date">
            <input formControlName="fechaCargaEndDate" matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Fecha última modificación</mat-label>
        <mat-date-range-input [rangePicker]="picker2">
            <input formControlName="fechaUltimaModificacionStartDate" matStartDate placeholder="Start date">
            <input formControlName="fechaUltimaModificacionEndDate" matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-date-range-picker #picker2></mat-date-range-picker>
    </mat-form-field>

      <div class="filter-buttons">

        <button mat-mini-fab color="primary" class="" id="filter" (click)="filtrar()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-mini-fab color="primary" class="" id="filter" (click)="limpiarFiltros()">
          <mat-icon>delete</mat-icon>
        </button>

      </div>

    </section>
  </form>

</div>