.mat-table{
    width: 100%;
}

.mat-column-acciones {
    min-width: 170px;
    text-align: center;
    justify-content: center;
  }
.container{
    width:100%;
}
.buttons{
    display: block;
    height: 0px;
}
.paginator{
    display: flex;
    justify-content: center;
}